body {
    background: linear-gradient(to right, #f5fdff, #ccddfc);
    font-family: Poppins, sans-serif;
}

h1 {
    font-weight: 300;
}

.container {
    width: 50%;
    margin: 0 auto;
}

.list {
    display: flex;
    flex-direction: column;
    text-align: center;
    user-select: none;

    input, select {
        margin: 10px;
    }

    button {
        padding: 10px;
        background-color: #f4b33c;
        border: none;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    ul {
        text-align: left;
        list-style: none;
    }

    li {
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
        padding: 10px;
    }

    &__content {
        button {
            float: right;
            margin-right: 10px;
        }
    }

    .delete-button {
        background: rgba(255, 0, 0, 0.6);
    }

    .complete-button {
        background: rgba(0, 128, 0, 0.6);
    }

    .complete {
        background-color: #ccddfc;
    }
}

